* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-bg-color: #0c070c;
  --text-color: #fff;
  --dark-gray-container: #100a10;
  --dark-gray-items: #130e13;
  --dark-gray-text: #a3a3a3;
  --purple: #b0a3ff;
}
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: "General Sans", sans-serif;
  overflow-x: hidden;
  cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray-container);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-gray-items);
}

.container {
  padding: 20px;
  margin: 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 3.5vw;
  margin: -3.5vw;
  background-color: var(--main-bg-color);
  z-index: 999;
  /* margin: 0; */
}

.logo img {
  width: 70px;
}
.nav ul li {
  display: none;
}
a {
  color: white;
  text-decoration: none;
}
.menu-btn img {
  width: 25px;
  height: auto;
  padding-right: 5px;
  vertical-align: baseline;
  object-fit: cover;
}
.menu-btn button {
  cursor: pointer;
  text-transform: capitalize;
}
button {
  background-color: var(--purple);
  color: black;
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: capitalize;
  font-weight: 500;
}

.header {
  height: 80vh;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 12vw;
  text-transform: uppercase;
}
.header-title {
  padding-left: 20px;
}

.circle img {
  position: absolute;
  left: 8%;
  bottom: 5%;
  width: 7rem;
  animation: rotate 10s linear infinite, fade-up 2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* about me */
.about-container {
  margin-top: 200px;
}
.about {
  background-color: var(--dark-gray-container);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 20px 0;
}

.about-content .about-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.about-content .about-text {
  font-size: 1.1rem;
  line-height: 1.5;
}

.tech-icons-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}
.about li {
  list-style-type: none !important;
}
.about li::before {
  content: "▹";
  left: 0px;
  color: var(--purple);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.about-title-small {
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  color: var(--purple);
  text-transform: capitalize;
}
.tech-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* services */
.services-container {
  margin-top: 50px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.services-item {
  background-color: var(--dark-gray-items);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  border-radius: 10px;
}

.services-dot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--purple);
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 5px #9080f5, 0 0 5px #9080f5, 0 0 5px #9080f5,
      0 0 20px #9080f5;
  }
  to {
    box-shadow: 0 0 10px #9080f5, 0 0 10px #9080f5, 0 0 10px #9080f5,
      0 0 10px #9080f5;
  }
}
.services-item .services-title {
  font-size: 1.7rem;
  font-weight: 500;
}
.services-item .services-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--dark-gray-text);
}

/* projects */
.work-container {
  margin-top: 100px;
}
.work {
  display: flex;
  flex-direction: column;
}

.work-title {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
  color: var(--purple);
  text-transform: uppercase;
}
.work-text {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.work-item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}
.work-item span {
  font-size: 0.7rem;
  padding: 5px 15px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: #201c20;
}
.item-tech {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}
.item-img {
  width: 100%;
}
.item-img img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 5px;
}
.item-content img {
  background-color: #fff;
  border-radius: 50px;
  width: 12px;
  box-shadow: 0 0 0 5px #fff;
  outline: 2px solid #fff;
  margin: 0 10px;
}
.item-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.item-content h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--purple);
}
.item-content h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.item-content p {
  margin-bottom: 20px;
}
.item-content button {
  background-color: white;
  cursor: pointer;
}

/* experience */
.experience-container {
  margin-top: 50px;
}
.experience {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.experience-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.experience-titles button {
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
}
.experience-titles h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--purple);
}
.experience-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.experience-number {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--purple);
}
.experience-item {
  background-color: var(--dark-gray-items);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  border-radius: 10px;
}
.experience-item .experience-title {
  font-size: 1.7rem;
  font-weight: 500;
}
.experience-item .experience-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--dark-gray-text);
}
.experience-stick h2 {
  font-size: 1.7rem;
  margin-bottom: 5px;
}
.experience-span {
  color: var(--dark-gray-text);
  font-weight: 600;
  font-size: 1.1rem;
}
.experience-container .function {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--dark-gray-text);
  display: inline;
}

/* contact */
.contact-container {
  margin-top: 100px;
}
.contact {
  background-color: var(--dark-gray-container);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  width: 100%;
}
.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8em;
  display: none;
}
.top-content p:nth-child(2) {
  text-align: right;
}
.middle-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-title {
  font-size: 9vw;
  text-transform: uppercase;
}
.contact-text {
  line-height: 1.5;
  text-align: center;
  max-width: 65vw;
  font-size: 0.8em;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.socials {
  order: 1;
}
.copyright {
  order: 2;
}
.top {
  order: 3;
}
.socials {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.bottom-content button {
  font-size: 0.7rem;
  padding: 5px 15px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #201c20;
  color: white;
  cursor: pointer;
}
.bottom-content button:hover {
  background-color: var(--purple);
  color: black;
}
.project {
  z-index: 1100 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}
.project-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-detail h1 {
  font-size: 10vw;
  text-transform: uppercase;
}
.project-techs span {
  font-size: 0.7rem;
  padding: 7px 15px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: #201c20;
}
.project-techs {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}
.project-detail p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #a3a3a3;
}
.project-btns button {
  background-color: white;
  padding: 10px;
}
.project-btns a:nth-of-type(1) .project-link {
  background-color: var(--purple);
}
.project-btns a:nth-of-type(2)::before {
  content: "OR";
  margin-right: 10px;
}

.project-btns a:nth-of-type(2) img {
  background-color: #fff;
  border-radius: 50px;
  width: 12px;
  box-shadow: 0 0 0 5px #fff;
  outline: 2px solid #fff;
  margin: 0 10px;
}

.project-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.project button {
  text-transform: none;
}
.project-img img {
  width: 100%;
  margin-top: 20px;
}
.learned {
  font-size: 16px;
  font-weight: 400;
}

/* media queries */
@media screen and (min-width: 772px) and (max-width: 1024px) {
  .header-titles {
    line-height: 9vw !important;
  }
  .header-titles h1 {
    font-size: 9vw !important;
  }
}
@media screen and (min-width: 770px) {
  .container {
    max-width: 1600px;
    margin: 20px 2vw;
  }
  /* menu */
  .nav {
    line-height: 40px;
    padding: 0 20px;
    border-radius: 50px;
    margin-left: 100px;
  }
  .menu {
    padding: 20px 3.5vw;
  }
  .nav ul li {
    display: inline-block;
    padding: 0 20px;
    font-weight: 500;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .menu a:hover {
    color: var(--purple);
  }
  .header {
    height: 70vh;
  }
  .header-titles {
    line-height: 11vw;
  }
  .header-titles h1:first-child {
    margin-top: 190px;
  }
  .header-titles h1 {
    font-size: 9vw;
  }
  .header-title {
    padding-left: 50px;
  }

  .about-container {
    margin-top: 250px;
  }
  .about {
    padding: 50px;
  }
  .about-content .about-title {
    font-size: 2.3rem;
    max-width: 60%;
  }
  .about-content .about-text {
    max-width: 60%;
  }
  .about-title-small {
    font-size: 1vw;
    text-transform: uppercase;
  }
  .services {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .services-item {
    padding: 50px 30px;
    width: 33%;
    height: auto;
  }

  /* projects */
  .work-title {
    font-size: 1vw;
    letter-spacing: 0.05em;
  }
  .work-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work-text {
    font-size: 2.5vw;
    text-align: center;
    max-width: 520px;
    line-height: 1.3em;
    text-transform: capitalize;
  }
  .work-item {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-gray-container);
    border-radius: 10px;
    height: 600px;
    margin-top: 50px;
  }
  .work-item {
    position: sticky;
    top: 15%;
  }
  .item-img {
    order: 2;
    width: 50%;
    height: 100%;
  }
  .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
  }
  .item-content {
    order: 1;
    width: 45%;
    padding-left: 5vw;
    display: flex;
  }
  .item-content h3 {
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
  }
  .item-content h2 {
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .experience-container {
    margin-top: 100px;
    height: 100vh;
    position: relative;
  }
  .experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
  .experience-stick {
    position: sticky;
    top: 30%;
  }
  .experience-content {
    position: sticky;
    top: 30%;
  }
  .experience-titles {
    position: relative;
    width: 50%;
  }
  .experience-titles h2 {
    font-size: 4.5vw;
    max-width: 500px;
  }
  .experience-titles p {
    max-width: 30vw;
  }
  .experience-content {
    width: 50%;
    align-items: flex-end;
    height: 100%;
  }
  .experience-item {
    padding: 50px 30px;
    width: 576px;
    height: 231.6;
    margin-bottom: 20px;
  }
  .contact-container {
    height: 595px;
  }
  .contact {
    padding: 20px 50px;
    height: 100%;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .middle-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-content {
    display: inline-flex;
  }
  .top-content p {
    font-size: 1.2em;
  }
  .middle-content .contact-title {
    font-size: 7vw;
  }
  .middle-content .contact-text {
    font-size: 1em;
    max-width: 22vw;
  }
  .bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .socials {
    order: 2;
  }
  .copyright {
    order: 1;
  }
  .top {
    order: 3;
    cursor: pointer;
  }
  .bottom-content button {
    padding: 10px 20px;
    font-size: 1em;
  }
  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
  }
  .project-detail {
    width: 45%;
  }
  .project-img {
    width: 50%;
  }

  .project-detail {
    position: sticky;
    top: 180px;
    height: 100%;
  }
  .project-img {
    position: relative;
  }

  .project .project-detail h1 {
    font-size: 5vw;
  }
  .project-detail p {
    font-size: 1vw;
  }

  .project-link {
    cursor: pointer;
  }
  .project-btns button {
    background-color: white;
    padding: 10px 20px;
  }
}
.project-link img {
  background-color: var(--purple);
  border-radius: 50px;
  width: 12px;
  box-shadow: 0 0 0 5px var(--purple);
  outline: 2px solid var(--purple);
  margin: 0 10px;
}
.home img {
  transform: scaleX(-1);
  object-fit: cover;
  margin-top: 25px;
}

@media screen and (min-width: 1690px) {
  .container {
    max-width: 2000px;
    margin: 20px 2vw;
  }
  .about {
    margin-top: 300px;
  }
  .work-text {
    max-width: 50%;
  }
  p.about-title-small {
    max-width: 100%;
  }
}
