* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-bg-color: #0c070c;
  --text-color: #fff;
  --dark-gray-container: #191619;
  --dark-gray-items: #201c20;
  --dark-gray-text: #a3a3a3;
  --purple: #b0a3ff;
}
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: "General Sans", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray-container);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-gray-items);
}

.container {
  padding: 20px;
  margin: 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 20px 3.5vw;
  margin: -3.5vw;
  background-color: var(--main-bg-color);
  z-index: 999;
  animation: fade-down 2s;
}

.logo img {
  width: 70px;
}
.nav ul li {
  display: none;
}
a {
  color: white;
  text-decoration: none;
}
.menu-btn img {
  width: 25px;
  height: auto;
  padding-right: 10px;
  vertical-align: baseline;
  object-fit: cover;
}
.menu-btn button {
  cursor: pointer;
}
button {
  background-color: var(--purple);
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
}

.header {
  height: 80vh;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 12vw;
  text-transform: uppercase;
}
.header-title {
  padding-left: 20px;
}

.circle img {
  position: absolute;
  left: 8%;
  bottom: 5%;
  width: 7rem;
  animation: rotate 10s linear infinite, fade-up 2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* about me */
.about-container {
  margin-top: 200px;
}
.about {
  background-color: var(--dark-gray-container);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 20px 0;
}

.about-content .about-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.about-content .about-text {
  font-size: 1.1rem;
  line-height: 1.5;
}

.tech-icons-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}
.about li {
  list-style-type: none !important;
}
.about li::before {
  content: "▹";
  left: 0px;
  color: var(--purple);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.tech-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* services */
.services-container {
  margin-top: 50px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.services-item {
  background-color: var(--dark-gray-items);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  border-radius: 10px;
}

.services .services-dot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--purple);
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 5px #9080f5, 0 0 5px #9080f5, 0 0 5px #9080f5,
      0 0 20px #9080f5;
  }
  to {
    box-shadow: 0 0 10px #9080f5, 0 0 10px #9080f5, 0 0 10px #9080f5,
      0 0 10px #9080f5;
  }
}
.services-item .services-title {
  font-size: 1.7rem;
  font-weight: 500;
}
.services-item .services-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--dark-gray-text);
}

/* projects */
.work-container {
  margin-top: 100px;
}
.work {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.work-flower {
  width: 25px;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 10px;
}
.work-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.work-item {
  border-top: 1px solid #202022;
  border-bottom: 1px solid #202022;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.work-item h2 {
  text-transform: uppercase;
  font-size: 8vw;
}
.work-item img {
  width: 15vw;
  height: 150px;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease;
  transform: scale(0.5);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* contact */
.contact-container {
  margin-top: 200px;
}
.contact {
  background-color: var(--dark-gray-container);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  width: 100%;
}
.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8em;
}
.top-content p:nth-child(2) {
  text-align: right;
}
.middle-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-title {
  font-size: 9vw;
  text-transform: uppercase;
}
.contact-text {
  line-height: 1.5;
  text-align: center;
  max-width: 65vw;
  font-size: 0.8em;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.socials {
  order: 1;
}
.copyright {
  order: 2;
}
.top {
  order: 3;
}
.socials {
  display: flex;
  gap: 10px;
}
.bottom-content button {
  padding: 5px 10px;
  font-size: 0.8em;
  background-color: white;
  cursor: pointer;
}
.bottom-content button:hover {
  background-color: var(--purple);
}
.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  animation: fade-down 2s;
}
.project-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-detail h1 {
  font-size: 10vw;
  text-transform: uppercase;
}
.project-techs span {
  border: 1px solid white;
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
}
.project-techs {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}
.project-detail p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #a3a3a3;
}
.project-img img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* media queries */
@media screen and (min-width: 772px) and (max-width: 1024px) {
  .header-titles {
    line-height: 9vw !important;
  }
  .header-titles h1 {
    font-size: 9vw !important;
  }
}
@media screen and (min-width: 770px) {
  .container {
    max-width: 1600px;
    margin: 20px 2vw;
  }
  /* menu */
  .nav {
    line-height: 40px;
    padding: 0 20px;
    background-color: var(--dark-gray-container);
    border-radius: 50px;
    margin-left: 100px;
  }

  .nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-weight: 500;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .menu a:hover {
    color: var(--purple);
  }
  .header {
    height: 70vh;
  }
  .header-titles {
    line-height: 11vw;
  }
  .header-titles h1:first-child {
    margin-top: 190px;
  }
  .header-titles h1 {
    font-size: 9vw;
  }
  .header-title {
    padding-left: 50px;
  }

  .about-container {
    margin-top: 200px;
  }
  .about {
    padding: 50px;
  }
  .about-content .about-title {
    font-size: 2.3rem;
    max-width: 60%;
  }
  .about-content .about-text {
    max-width: 60%;
  }
  .services {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .services-item {
    padding: 50px 30px;
    width: 33%;
    height: auto;
  }

  /* projects */
  .work-title {
    font-size: 2vw;
  }
  .work-item h2 {
    font-size: 6.7vw;
  }
  .work-item h2 {
    transition: padding-left 0.3s ease;
  }

  .work-item:hover h2 {
    padding-left: 50px;
  }

  .work-item:hover img {
    opacity: 1;
    visibility: visible;
    transform: scale(1.3);
  }

  .contact-container {
    margin-top: 150px;
    height: 595px;
  }
  .contact {
    padding: 20px 50px;
    height: 100%;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .middle-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-content p {
    font-size: 1.2em;
  }
  .middle-content .contact-title {
    font-size: 7vw;
  }
  .middle-content .contact-text {
    font-size: 1em;
    max-width: 22vw;
  }
  .bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .socials {
    order: 2;
  }
  .copyright {
    order: 1;
  }
  .top {
    order: 3;
    cursor: pointer;
  }
  .bottom-content button {
    padding: 10px 20px;
    font-size: 1em;
  }
  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
  }
  .project-detail {
    width: 45%;
  }
  .project-img {
    width: 50%;
  }
  .project {
    /* display: 100vh; */
  }
  .project-detail {
    position: sticky;
    top: 180px;
    height: 100%;
  }
  .project-img {
    position: relative;
  }

  .project .project-detail h1 {
    font-size: 5vw;
  }
  .project-detail p {
    font-size: 1vw;
  }
  .project-techs span {
    font-size: 0.8em;
    padding: 5px 20px;
  }
  .project-link {
    cursor: pointer;
  }
  .project-link img {
    background-color: var(--purple);
    border-radius: 50px;
    width: 12px;
    box-shadow: 0 0 0 5px var(--purple);
    outline: 2px solid var(--purple);
    margin: 0 10px;
  }
  .home img {
    transform: scaleX(-1);
    object-fit: cover;
    margin-top: 25px;
  }
}
.custom-alert {
  position: fixed;
  top: 35%;
  right: 42%;
  padding: 7px 12px;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 20px;
  color: black;
  background-color: var(--purple);
  z-index: 999;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
